@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Itim|Nanum+Gothic&subset=korean');
body{
    font-family:"Nanum Gothic",sans-serif;
    font-weight:400;
    color:#222;
    background:#3c3f41;
}
header{
    background:#f4c93d;
    height:100px;
    margin-bottom:30px;
    position:relative;
}
header h1{
    font-family:"Itim";
    font-weight:400;
    text-align:center;
    font-size:30px;
    line-height:100px;
}
header a{
    position:absolute;
    top:50%;
    right:20px;
    height:40px;
    transform:translateY(-50%);
}
header a img{
    height:100%;
}
header .license{
    position:absolute;
    bottom:5px;
    right:10px;
    font-size:12px;
    font-family:"Itim";
}
.txt_box{
    font-weight:700;
    margin-top:20px;
    margin-bottom:50px;
}
.txt_box .html_code{
    background:#353535;
    padding:20px 0;
    margin:0 auto;
    max-width:980px;
    width:calc(100% - 20px);
}
.txt_box .html_code h3{
    color:#fff;
    text-align:center;
    margin-bottom:20px;
    font-size:1.5em;
}
.txt_box .html_code p{
    white-space:pre-wrap;
    display:inline-block;
    position:relative;
    left:50%;
    transform:translateX(-50%);
    color:#4682b4;
}
.txt_box .script_code{
    background:#353535;
    padding:20px 0;
    max-width:980px;
    margin:0 auto;
    margin-top:20px;
    width:calc(100% - 20px);
}
.txt_box .script_code h3{
    color:#fff;
    text-align:center;
    margin-bottom:20px;
    font-size:1.5em;
}
.txt_box .script_code p{
    color:#fff;
    white-space:pre-wrap;
    display:inline-block;
    position:relative;
    left:50%;
    transform:translateX(-50%);
}
span.wheat{
    color:#dedede;
}
span.green{
    color:#268b26;
}
span.orange{
    color:#ff8c00;
}
span.darkorchid{
    color:#9733c9;
}
section.option{
    background:#555;
    padding:30px 0;
}
section.option h2{
    color:#fff;
    text-align:center;
}
.txt_box2{
    font-weight:700;
    margin:20px auto;
    background:#353535;
    color:#ededed;
    padding:20px 0;
    line-height:1.4;
    box-sizing:border-box;
    width:calc(100% - 20px);
    max-width:600px;
}
.txt_box2 .txt_wrap{
    width:300px;
    position:relative;
    left:50%;
    transform:translateX(-50%);
}
footer{
    padding:20px 0;
}
footer p{
    text-align:center;
    font-size:14px;
    color:#fff;
    line-height:1.3;
}
@media(max-width:500px){
    p{
        font-size:14px;
    }
    .txt_box .script_code p{
        font-size:13px;
    }
    .txt_box2 .txt_wrap{
        width:265px;
    }
    footer p{
        font-size:12px;
    }
}